.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 250px;
}

.new-user {
    margin-top: 20px;
    border: solid gray 1px;
    width: 250px;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}

a {
    color: #1f79e0;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}